body {
  background-color: $clr-primary-white;
  @include setFont($fs-mb-text, $lh-mb-text, $ls-mb-text);
}

.container {
  margin-inline: auto;
  width: $mb-max-width;
  max-width: $mb-max-width;
  margin-block: 34px 312px;
  outline: 2px solid lime;
}

.award {
  background-color: $clr-primary-color;
  color: $clr-primary-white;
  height: 843px;
  overflow: hidden;
  position: relative;
  margin-bottom: 120px;

  .award-content {
    h1 {
      padding: $size-80 $size-24 0;
    }

    p {
      padding: $size-14 $size-24 0;
      @include setFont(15px, 25px);
    }

    .btn {
      position: relative;
      z-index: 5;
      margin-top: $size-24;
      padding: 17.17px 24.2875px;
    }
  }

  .phone-img {
    left: 0;
    position: absolute;
    top: 434px;
    z-index: 2;

    img {
      scale: 1.35;
    }
  }

  .circle-img {
    position: absolute;
    width: 640px;
    top: 102px;
    left: 0;
    z-index: 1;
  }
}

.values {
  margin-inline: 24px;

  &-item {
    margin-bottom: 80px;

    .img-bg {
      width: 202px;
      height: 202px;
      margin: 0 auto $size-48;
      background-image: url("../../assets/shared/desktop/bg-pattern-small-circle.svg");
    }

    h2 {
      margin-bottom: $size-32;
      text-transform: uppercase;
      @include setFont(20px, 26px, 5px, $fw-medium);
    }
  }

  &-item:last-child {
    margin-bottom: 0;
  }

  .foot-leaf-img {
    display: none;
  }
}

@media only screen and (min-width: $tb-max-width) {
  body {
    @include setFont($fs-dt-text, $lh-dt-text, $ls-dt-text);
  }

  h2 {
    @include setFont($fs-dt-h2, $lh-dt-h2, $ls-dt-h2, $fw-medium);
  }

  .container {
    width: $tb-max-width;
    max-width: $tb-max-width;
    margin-block: $size-64 351px;
  }

  .award {
    margin-inline: 40px;
    border-radius: $border-radius;

    & &-content {
      h1 {
        padding: $size-60 58px 0;
        @include setFont($fs-dt-h1, $lh-dt-h1, $ls-dt-h1, $fw-medium);
      }

      p {
        width: 445px;
        padding: 0;
        margin: 8px 127px 0 117px;
        @include setFont($fs-dt-text, $lh-dt-text, $ls-dt-text);
      }

      .btn {
        margin-top: 19px;
      }
    }

    .phone-img {
      width: 476px;
      height: auto;
      left: 100px;
      top: 380px;
    }

    .circle-img {
      width: 480px;
      top: 185px;
      left: 225px;
    }
  }

  .values {
    &-item {
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      text-align: left;
      gap: $size-48;

      h2 {
        margin-bottom: $size-16;
      }

      p {
        width: 439px;
      }

      .img-bg {
        margin: 0;
        margin-left: $size-40;
      }
    }
  }
}

@media only screen and (min-width: $dt-max-width) {
  .container {
    width: $dt-max-width;
    max-width: $dt-max-width;
    margin-block: $size-64 447px;
  }

  .award {
    margin-inline: 165px;
    height: 640px;

    & &-content {
      margin: 145px 95px;
      text-align: left;
      width: inherit;

      h1 {
        width: 540px;
        padding: 0;
      }

      p {
        width: 445px;
        margin: 26px 0 0;
      }

      .btn {
        margin-top: 40px;
      }
    }

    .phone-img {
      width: 476px;
      height: auto;
      left: 632px;
      top: 86px;
    }

    .circle-img {
      top: 0;
      left: 470px;
      width: 640px;
      height: 640px;
    }
  }

  .values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-inline: 165px;
    outline: 2px solid lime;

    .values-item {
      outline: 2px solid blueviolet;
      text-align: center;
      flex-direction: column;
      width: 350px;
      margin-top: 0;
      margin-bottom: 0;
      gap: 30px;

      p {
        width: 350px;
      }

      .foot-leaf-img {
        display: block;
        bottom: -415px;
        right: -165px;
        height: 594px;
        position: absolute;
        width: 1006px;
        // opacity: 50.23%;
        transform: scaleX(-1) scaleY(-1);
        z-index: -1;
        // filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
      }
    }

    .img-bg {
      width: 202px;
    }
  }
}
